@font-face {
  font-family: 'Geist';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(./geist-0.ttf) format('truetype');
}
@font-face {
  font-family: 'Geist';
  font-style: normal;
  font-weight: 500;
  font-display: swap;
  src: url(./geist-1.ttf) format('truetype');
}
@font-face {
  font-family: 'Geist';
  font-style: normal;
  font-weight: 600;
  font-display: swap;
  src: url(./geist-2.ttf) format('truetype');
}

@font-face{font-family:Newsreader;src:url('./font-3.ttf') format('truetype');font-weight:400;font-display:swap}
